*{
    margin: 0;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 10px;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: brown;
    --button-color: brown;
    --other-color: black;
    --text-color: white;
    --content-bg-color: grey;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

button{
    background-color: var(--other-color);
    color: var(--text-color);
    border-color: var(--button-color);
    border-radius: 20px;;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content{
    background-color: var(--content-bg-color);
    display: grid;
    justify-items: center;
    border-radius: 20px;
    width: 80vw;
}