body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: grid;
    gap: 10px;
    justify-items: center;
    font-family: "Suisse Intl", sans-serif;
    color: var(--text-color)
}

:root{
    --bg-color: rgb(47, 12, 12);
    --button-color: brown;
    --other-color: black;
    --text-color: rgb(223, 203, 203);
    --content-bg-color: rgb(73, 43, 43);
    --el-color: #434343;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

button{
    background-color: var(--other-color);
    color: var(--text-color);
    border-color: var(--button-color);
    border-radius: 20px;
    padding: 20px;
    font-family: "Suisse Intl", sans-serif
}

#content{
    width: 80vw;
    background-color: var(--content-bg-color);
    border-radius: 40px;
    display: grid;
    gap: 100px;
    padding: 2rem 0;
}

#content > *{
    width: 60vw;
    margin: auto;
}

#content > div:nth-child(n+2){
    text-align: center;
    border: 2px solid var(--other-color);
    border-radius: 40px;
    padding: 2rem 0;
    background-color: var(--el-color);
}

#intro{
    font-size: 8rem;
    font-family: "Heldane Display", serif;
}

[id*="text"] {
    font-size: 2rem;
}

[id*="title"]{
    font-weight: bolder;
    font-size: 4rem;
}